<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Página principal</a></li>
  <li><a href="toc.html">Índice</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Páginas<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="translated.html">Traducida</a>
      </li>
      <li>
        <a href="not-translated.html">Sin traducción</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="artifacts.html">Artefatos</a>
  </li>
</ul>      
