<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Página inicial</a></li>
  <li><a href="toc.html">Conteúdo</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Páginas<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="translated.html">Traduzida</a>
      </li>
      <li>
        <a href="not-translated.html">Não Traduzida</a>
      </li>
    </ul>
  </li>
</ul>      
